.SearchResults {
  max-width: calc(100vw * 0.75);
  margin: auto;
  padding: 1rem 0 10rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5rem;
}

.SearchResults .showmore-btn-container {
  align-self: stretch;
  flex-basis: 100%;
  text-align: center;
}

.SearchResults .showmore-btn {
  cursor: pointer;
  background-color: transparent;
  padding: 0.5rem 2rem;
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: #555;
}

.SearchResults .showmore-btn:disabled {
  cursor: default;
}
