.SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.SearchBar .search-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.SearchBar .search-input,
.SearchBar .filter-select {
  font-size: 1.2rem;
  margin: 0;
  padding: 0 0.5rem;
  outline: 0;
  border: 0;
  margin: 0.1rem;
  box-sizing: border-box;
  height: 2.5rem;
  box-shadow: 0px 3px 5px 2px rgb(224, 224, 224);
}

.SearchBar .search-input {
  padding: 0;
  padding-left: 2rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.SearchBar .filter-select:last-child {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.SearchBar .search-input::placeholder,
.SearchBar .filter-select,
.SearchBar .option-placeholder {
  color: #adadad;
}

.SearchBar .option-item {
  color: #000;
}

@media screen and (max-width: 767.9px) {
  .SearchBar {
    padding: 0 1rem;
  }
  .SearchBar .search-input,
  .SearchBar .filter-selects-container {
    flex: 1 1 100%;
  }

  .SearchBar .search-input,
  .SearchBar .filter-select {
    border-radius: 1.5rem;
  }

  .SearchBar .filter-selects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
  }
  .SearchBar .filter-select {
    flex: 1 1;
  }
}
