.SearchResults {
  padding: 1rem 20% 10rem 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.5rem;
}

.SearchResults .showmore-btn {
  cursor: pointer;
  background-color: transparent;
  padding: 0.5rem 2rem;
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: #555;
}
